/*// Name: Bob Borsboom
// Student number: 10802975
// Data Processing WK6*/

/*set pop up box*/
.d3-tip {
	line-height: 1;
	font-weight: bold;

	/*set pop up box size*/
	padding: 12px;

	/*set pop up box color*/
	background: rgba(0, 0, 0, 0.8);
	color: #fff;
	border-radius: 2px;

}


/*set bar mouseover color*/
#provincie:hover {
	fill: black ;
	cursor: pointer
}

h1 {
	text-align: center;
}
